$contact-font: 'Assistant', sans-serif;
$logo-font: 'Shadows Into Light', cursive;
$button-font: 'Source Code Pro', monospace;
$logo-color: #2cfad3;
$background-color: #373535;

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom right, #07679f, $logo-color);
  align-items: center;
  height: 6rem;

  .contact {
    width: auto;
    height: 100%;

    .contact__phone {
      display: block;
      height: 100%;
    }

    .header__contact, .header__calculator {
      text-decoration: none;
      font-family: $logo-font;
      color: black;
      margin: 1.3rem;
      font-size: 2rem;
      height: 100%;

      &:hover {
        color: $logo-color;
        transition: 0.2s;
        opacity: 0.7;
      }

      address {
        font-family: $contact-font;
        font-size: 0.3rem;
        margin-left: 1rem;
        padding: 1rem;
        color: #ffe210;
      }
    }
  }

  .logo {
    color: $logo-color;
    font-family: $logo-font;
    font-size: 4rem;
    text-decoration: none;
  }

  div {
    display: flex;

    p, .basket {
      text-decoration: none;
      font-size: 2rem;
      color: black;
      text-align: center;
      font-family: $logo-font;
      padding: 0 0.5rem;

      &:hover {
        color: #ffe210;
        transition: 0.2s;
        opacity: 1;
      }

      .fas {
        color: #ffe210;
        margin-right: 2rem;
      }
    }
  }
}

main {
  .main__description {
    font-family: $contact-font;
    font-size: 1.2rem;
    color: white;
    padding: 2rem;
    background-color: black;
  }

  .slider {
    background-color: #ffffff;

    .sliderimg {
      width: 100%;
      height: 30rem;
      object-fit: cover;
      color: black;
    }
  }

  h3 {
  }

  .water-usage__images {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-evenly;

    .image {
      padding: 0.5rem 3rem;
      transition: all 0.5s ease;
      position: relative;

      &:hover {
        transform: rotate(10deg);
      }
    }

    p {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .image__left {
      padding: 0.5rem 3rem;
      transition: all 0.5s ease;

      &:hover {
        transform: rotate(-10deg);
      }
    }

    p {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

//MultiplyNumbers
.multiply-numbers__main {
  display: flex;
  background-color: #373535;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: white;

  .multiply-numbers__form {
    background-color: $background-color;

    .multiply__description {
      font-size: 2rem;
      font-family: $button-font;
      margin-bottom: 3rem;
    }

    label {
      padding: 0 1rem;
    }

    input, select {
      width: 15%;
      margin: 0.2rem;
      padding: 0.3rem;
      border: 2px solid #282626;
      border-radius: 5px;

    }

    .water-summary {
      display: flex;
      justify-content: center;
      align-items: center;

      .water-amount {
        font-family: $button-font;
        font-size: 2rem;
      }

      .water-amount__yellow {
        font-family: $logo-font;
        color: #ffe210;
        font-size: 5rem;
        margin: 0 1rem;
      }
    }
  }

  .image5 {
    width: 26rem;
    height: 20rem;
    border-radius: 2rem;
    margin: 0 5rem;
    box-shadow: 10px 10px 10px #ccc;
  }
}

//Contact
form {
  background-color: #ffffff;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  h4 {
    font-size: 1.5rem;
    padding: 1rem;
    font-family: $button-font;
  }

  input {
    width: 50%;
    margin: 0.2rem;
  }

  textarea {
    width: 50%;
    margin: 0.2rem;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #ffe210;
    border: 2px solid #5b5730;
    border-radius: 6px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5rem;
    font-family: $button-font;
  }
}

//CheckOptions
.check__options {
  background-color: #373535;

  .btn__check {
    background-color: #ffe210;
    padding: 1rem 2rem;
    border: 2px solid #eee5a9;
    border-radius: 1rem;
    text-transform: uppercase;
    font-family: $button-font;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.container {
  height: 50rem;
  background-color: #373535;
  padding: 3rem;

  .container__title {
    padding: 1.5rem;
    font-size: 2rem;
    color: #ffffff;
  }

  .less__than-1500, .less__than-5000 {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;

    img {
      width: 10rem;
      height: 10rem;
      border: 5px solid #ffe210;
      padding: 1rem;
    }

  }

  .container__option {
    background-color: #ffffff;

    .option__title {

    }

    .option__description {
      padding: 1rem;
    }

    .price__btn-option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price__option {
        text-transform: uppercase;
        font-family: $button-font;
        font-size: 1rem;
        margin:0.5rem;
      }

      .btn__option {
        background-color: #ffe210;
        padding: 0.5rem;
        border: 2px solid #5b5730;
        border-radius: 0.5rem;
        text-transform: uppercase;
        font-family: $button-font;
        font-size: 1rem;
        margin:0.5rem;

      }
    }
  }
}


//footer
footer {
  background-color: #aca1a1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-family: $button-font;
    font-size: 1rem;
    margin-left: 1.5rem;
    padding: 0.5rem;
  }

  .fab {
    font-size: 2.5rem;
    padding: 1rem;
    margin-right: 1rem;
  }

  .fa-twitter-square {
    color: deepskyblue;
  }

  .fa-facebook-square {
    color: blue;
  }
}